body {
  font-size: 12px;
  background-color: #D5D5D5;
}

.form-control {
  font-size: 12px;
}

.harp_page_header {
  display: table;
  background-color: #062F4F;
  height: 80px;
  width: 100%;
  margin: 0;
}

.harp_page_title {
  color: #D5D5D5;
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
  padding-left: 30px;
  font-family: 'Comfortaa', cursive;
}

.harp_logo {
  height: 70px;
  margin: 5px 30px 5px 5px;
  float: right;
}

.shiny-input-container {
  width: 100%;
}

#data_dir {
  margin-top: 21px;
}

#load_data {
  margin-top: 21px;
  float: right;
  color: #D5D5D5;
  background-color: green;
}

#options_bar {
  background-color: #AAA;
  padding-top: 15px;
  margin-bottom: 15px;
}




