body {
  font-size: 12px;
  font-family: 'Comfortaa', cursive;
  background-color: #0A0A2C;
  color: #D5D5D5;
}

.dashboard-panel {
  height: 275px;
/*  background-color: #081D3E; */
  background-color: #0A0A2C;
  margin-right: 5px;
  margin-top: 5px;
  padding: 1% 2% 2% 1%;
}

.form-control {
  font-size: 12px;
  /* background-color: #6D8292; */
  background-color: #0A0A2C;
  color: #D5D5D5;
}

.harp_page_header {
  display: table;
  background-color: #062F4F;
  height: 80px;
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

.harp_page_title {
  color: #D5D5D5;
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
  padding-left: 30px;
  font-weight: bold;
  width: 325px;
}

.harp_logo {
  height: 70px;
  margin: 5px 30px 5px 5px;
  float: right;
}

.selectize-dropdown {
  background-color: #0A0A2C;
  color: #D5D5D5;
}

.selectize-dropdown-content .active {
  background-color: #062F4F;
  color: #D5D5D5;
}

.selectize-dropdown-content .selected {
  background-color: #0A0A2C;
  color: #D5D5D5;
}


.selectize-input {
  color: #D5D5D5;
  background-color: #0A0A2C !important;
}

.selectize-input.full {
  background-color: #0A0A2C;
}
.shiny-input-container {
  width: 100%;
}

.tab_buttons {
  display: table-cell;
  vertical-align: middle
}

#dashboard {
  background-color: #0A0A2C;
  color: #D5D5D5;
}

#dashboard:hover {
  background-color: #081D3E;
}

#interactive {
  background-color: #0A0A2C;
  color: #D5D5D5;
}

#interactive:hover {
  background-color: #081D3E;
}


#data_dir {
  margin-top: 21px;
}

#load_data {
  margin-top: 21px;
  float: right;
  color: #D5D5D5;
  background-color: green;
}

#options_bar {
  background-color: #081D3E;
  padding-top: 15px;
  margin-bottom: 15px;
}




